<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="css/owl-widget-bundle.css" />
    <HeadOutlet />
</head>
<body>
    <Routes />

    <script src="_framework/blazor.web.js"></script>
    <script>
        window.process = window.process || { env: {} };
        window.process.env = window.process.env || {};
        window.process.env.NODE_ENV = window.process.env.NODE_ENV || "production";
    </script>
    <script src="js/owl-widget-bundle.js"></script>
    <script src="js/site.js"></script>
</body>
</html>
