@page "/"

<h2>Проверка виджета совы</h2>

<p>
    Эта страница поднимает Blazor Server и монтирует React-виджет совы через IJSRuntime.
</p>

<ul>
    <li>Проверьте, что JS-бандл подхватился (нет ошибок в консоли).</li>
    <li>Сова должна появиться поверх контента и реагировать на курсор.</li>
</ul>
