@inherits LayoutComponentBase

<div class="page">
    <main>
        @Body
    </main>
</div>

<OwlWidgetWrapper @rendermode="InteractiveServer"
                  Scale="0.9"
                  StartXPercent="20"
                  StartYPercent="20"
                  AutoSpawn="true"
                  MinSpawnSeconds="120"
                  MaxSpawnSeconds="300" />
