@inherits LayoutComponentBase

<div class="page">
    <main>
        @Body
    </main>
</div>

<OwlWidgetWrapper @rendermode="new InteractiveServerRenderMode()"
                  Scale="0.6"
                  StartXPercent="15"
                  StartYPercent="15"
                  AutoSpawn="true"
                  MinSpawnSeconds="120"
                  MaxSpawnSeconds="300"
                  EnableControls="false"/>
